<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uren registratie Tekenburo Verkuylen</title>
    <script defer src="../../model/models.js"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script defer src="../../services/api.service.js"></script>
    
    <link rel="stylesheet" href="user.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    
    <script defer src="user.js"></script>
  </head>
  </head>
  <body>
    <div id="content">
      <h1>Uren registratiesysteem</h1>
      <img src="../../assets/images/logo.png" alt="Tekenburo Verkuijlen" />
      <div id="login">
          <select id="userList"></select>
          <button onclick="login()">Inloggen</button>
          <br />
          <div id="timeWarning" class="loginWarning">
            <h4>Verkeerd wachtwoord, probeer het opnieuw</h4>
          </div>
      </div>
      
      <span>Made by Rick Verkuijlen</span>
    </div>
    
  </body>
</html>
