<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uren registratie Tekenburo Verkuylen</title>
    <script defer src="../../model/models.js"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline';" />
    <script defer src="../../services/api.service.js"></script>
    <script defer script-src src="../../services/print.service.js"></script>
    
    <link rel="stylesheet" href="week.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    
    <script defer src="week.js"></script>
  </head>
  <body>
    <input type="week" id="weekPicker" onchange="getHours(null)"/>
    
    <button id="print-pdf" onclick="generatePDF()">Print</button>
    <button onclick="simpleOverview()">Simpel overzicht</button>

    <div class="right">
      <button onclick="closeWindow()" class="close"><i class="fas fa-times"></i></button>
    </div>
    <br />
    <div id="projectList">

    </div>
    <div id="addableProjects">
      <div id="allProjects">
        
      </div>
      <button onclick="loadNewProjects()"><i class="fas fa-plus"></i></button>
    </div>
  </body>
</html>
