<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Uren registratie Tekenburo Verkuylen</title>
        <script defer src="../../model/models.js"></script>
        <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline';" />
        <script defer src="../../services/api.service.js"></script>
        <script defer script-src src="../../services/print.service.js"></script>

        <link rel="stylesheet" href="writing.css" />
        <link rel="stylesheet" href="../../index.css" />
        <link href="../../assets/fontawesome/css/all.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

        <script defer src="writing.js"></script>
    </head>
    <body>
        <h3>Begeleidend schrijven</h3>
        <div class="right">
            <button onclick="closeWindow()" class="close"><i class="fas fa-times"></i></button>
        </div>
        <fieldset id="clientData">
            <legend>Aan:</legend>
            <button onclick="copyData()" title="Kopiëren naar klembord" id="copy-button"><i class="far fa-copy"></i></button>
            <input type="text" class="input-button-hover" name="company" id="company" placeholder="Bedrijf"/><br />
            <input type="text" class="input-button-hover" name="name" id="name" placeholder="Naam"/><br />
            <input type="text" class="input-button-hover" name="address" id="address" placeholder="Straatnaam + huisnummer"/><br />
            <input type="text" class="input-button-hover" name="zipcode" id="zipcode" placeholder="Postcode + plaats"/><br />   
        </fieldset>
        <form name="letterForm" id="letterForm">
            <fieldset>
                <legend>Brief</legend>
                <label><input type="text" class="letter-input" value="Nistelrode" name="writePlace" id="writePlace" /> , <input type="text" class="letter-input" name="todayDate" style="width: 457px;" id="todayDate" /></label>
                <label for="subject">Onderwerp: <input type="text" name="subject" id="subject" class="letter-input" style="width: 555px"/></label><br />
                <br />
                <div class="letter-content">
                    <div class="half">
                        <p>Ingesloten:</p>
                        <input type="checkbox" name="letter" value="drawing" /><input type="text" class="included" name="content" value="Tekening(en)" id="drawing"/><button type="button" class="highlight" onclick="highlightText('drawing')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="form" /><input type="text" class="included"  name="content" value="Formulier(en)" id="form"/><button type="button" class="highlight" onclick="highlightText('form')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="characteristic" /><input type="text" class="included"  name="content" value="Uw kenmerk" id="characteristic"/><button type="button" class="highlight" onclick="highlightText('characteristic')"><i class="fas fa-highlighter"></i></button><br />
                    </div>
                    <div class="half">
                        <p>Betreft:</p>
                        <input type="checkbox" name="letter" value="information" /><input type="text" name="content" value="Ter informatie" id="information"/><button type="button" class="highlight" onclick="highlightText('information')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="controle" /><input type="text" name="content" value="Ter controle, hierop graag uw reactie" id="controle"/><button type="button" class="highlight" onclick="highlightText('controle')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="archive" /><input type="text" name="content" value="Voor eigen archief" id="archive"/><button type="button" class="highlight" onclick="highlightText('archive')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="appointment" /><input type="text" name="content" value="Volgens afspraak" id="appointment"/><button type="button" class="highlight" onclick="highlightText('appointment')"><i class="fas fa-highlighter"></i></button><br />
                        <input type="checkbox" name="letter" value="application" /><input type="text" name="content" value="Aanvraag tevens verzonden naar de gemeente" id="application"/><button type="button" class="highlight" onclick="highlightText('application')"><i class="fas fa-highlighter"></i></button><br />
                    </div>
                </div>
                <textarea id="letterTextArea"></textarea>
                <label for="regarts">Met vriendelijke groet, </label><input type="text" id="regarts" class="letter-input" name="regarts" id="regarts" value="Edwin" />
            </fieldset>
            <br />
            <button class="buttonShadow"><i class="fas fa-save"></i> Opslaan</button>
        </form>

        <div id="popUp">
            <h4>Naar klembord gekopieerd. Druk op Ctrl + Shift + L om Dymo te openen.</h4>
        </div>
    </body>
</html>
