<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uren registratie</title>
    <script defer src="../../model/models.js"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script defer src="../../services/api.service.js"></script>
    
    <link rel="stylesheet" href="search.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    
    <script defer src="search.js"></script>
  </head>
  <body>
    <div class="searchActions" style="float: right;">
      <input type="text" name="code" id="searchCode" onkeyup="filter()" placeholder="Zoeken op werknummer" />
      <input type="text" name="name" id="searchName" onkeyup="filter()" placeholder="Zoeken op naam" />
      <input type="text" name="city" id="searchCity" onkeyup="filter()" placeholder="Zoeken op stad" />
      <button onclick="closeWindow()" class="close"><i class="fas fa-times"></i></button>
    </div>
    <div id="projectList">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>  
    <p id="amountOfProjects">Aantal projecten: </p>
  </body>
</html>
