<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uren registratie</title>
    <script defer src="../../model/project.js"></script>
    <script defer src="../../model/client.js"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <script defer src="../../services/api.service.js"></script>
    
    <script defer script-src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer script-src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="search.css" />
    <link href="../../assets/fontawesome/css/all.css" rel="stylesheet" />
    
    <script defer src="search.js"></script>
  </head>
  <body>
    <p>Search works!</p>
    <div id="projectList">

    </div>
    <!-- <button onclick="getProject('20BN1')">20BN1</button>
    <button onclick="getProject('20BN2')">20BN2</button> -->
  </body>
</html>
